/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Override utils here*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.progress-bar {
  color: #18a0fb;
  font-size: 2.25rem;
}
.Team-Pro {
  @apply rounded-full  h-32 w-32 m-auto;
}
.Member-Name {
  @apply text-xl font-bold text-blue-500;
}
.Card {
  @apply flex-1 px-4 py-6 m-2;
}
.color {
  background-color: #f9f9f9;
}
.boxshadow {
  box-shadow: 3px 3px 6px rgba(12, 20, 74, 0.3);
}
.bg-input {
  background: #dedede;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  @apply rounded font-medium w-32 h-10 border border-primary;
}

.btn-md {
  @apply py-2 px-6 rounded;
}

.btn.primary {
  @apply bg-primary text-white;

  &:hover {
    @apply bg-blue-500 text-white;
  }
}

.btn.secondary {
  @apply bg-white text-primary;

  &:hover {
    @apply bg-blue-100 text-primary;
  }
}

.nav-link {
  @apply font-medium text-primary m-2;

  &:hover {
    @apply underline;
  }
}

.boxshadow {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
}

@tailwind utilities;
