/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
.progress-bar {
  color: #18a0fb;
  font-size: 2.25rem;
}
.Team-Pro {
  @apply rounded-full  h-32 w-32 m-auto;
}
.Member-Name {
  @apply text-xl font-bold text-blue-500;
}
.Card {
  @apply flex-1 px-4 py-6 m-2;
}
.color {
  background-color: #f9f9f9;
}
.boxshadow {
  box-shadow: 3px 3px 6px rgba(12, 20, 74, 0.3);
}
.bg-input {
  background: #dedede;
}
.header-bus {
  margin-top: 12.7rem;
}
.service-pic {
  margin-top: 10.7rem;
}
/* Override utils here*/

@tailwind utilities;
